<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="br.com.luisfelipeas5.dynamicfeature1">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/title_dynamicfeature1">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".DynamicFeature1Activity">

            <intent-filter android:label="@string/title_dynamicfeature1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "androidmultimodule://dynamicfeature1” -->
                <data android:scheme="project"
                    android:host="dynamicfeature1" />
            </intent-filter>

        </activity>
    </application>

</manifest>